@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrEaAXlfdJQBI3yZ09bv6-q53SmBlxZlCKBmYp2GacMyYIg7wL&s');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: rgba(64, 57, 107, 0.4); */
  

}

.container {
  padding: 40px;
}