@import "~bootstrap/dist/css/bootstrap.css";
body {
  /* background-image: url('https://dl1.cbsistatic.com/i/2018/12/28/3f4d5097-84e6-4f97-93c3-59ef7a8feb23/8993fbc9ddf17f1048e7a9a611a377ad/imgingest-6094814959790879580.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: rgba(64, 57, 107, 0.4); */
  

}

.container {
  padding: 40px;
}