@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-image: url('https://img.freepik.com/free-vector/plain-blue-sky-background_1308-20781.jpg?size=626&ext=jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: rgba(64, 57, 107, 0.4); */
  

}

.container {
  padding: 40px;
}